<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.github.norio-nomura.twttrmediatypesinstagram</string>
			<key>Developer Identifier</key>
			<string>PK9GMQ772L</string>
			<key>CFBundleVersion</key>
			<string>1.4</string>
			<key>CFBundleShortVersionString</key>
			<string>1.4</string>
			<key>URL</key>
			<string>http://github.com/downloads/norio-nomura/twttr.media.types.instagram/twttr.media.types.instagram-1.4.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
